@charset "UTF-8";
@import url(https://fonts.bunny.net/css?family=poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i);

/* CSS Reset */

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, svg, video, canvas {
    display: block;
    max-width: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

input, button, textarea, select {
  font: inherit;
}

/* ----------------------------------- */

:root {
    --yellow: #ff9f1c;
    --red: #e71d36;
    --blue: #2ec4b6;
    --white: #fdfffc;
}

body {
    background: #011627;
    font-family: Poppins;
}

main {
    width: 100dvw;
    margin-top: 10em;

    display: flex;
    flex-wrap: wrap;
    
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
}

#game-board {
    padding: 1em;
    width: max(100px, 600px);
    height: max(300px, 600px);
    display: grid;
    grid-template-columns: 1fr 22px 1fr 22px 1fr;
    grid-template-rows: 1fr 22px 1fr 22px 1fr;
}

.placeholder {
    border: none;
    width: 100%;
    height: 100%;
    align-self: center;
    justify-self: center;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.gap {
    border-radius: 25px;
    background-color: var(--white);
}

.gap#one {
    grid-column: 2 / 3;
    grid-row: 1 / -1;
}

.gap#two {
    grid-column: 4 / 5;
    grid-row: 1 / -1;
}

.gap#three {
    grid-row: 2 / 3;
    grid-column: 1 / -1;
}

.gap#four {
    grid-row: 4 / 5;
    grid-column: 1 / -1;
}

#player1,
#player2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: #000000;
    background-color: var(--yellow);
    border-radius: 25px;
    font-weight: 500;
}

#player1 > img,
#player2 > img {
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

#p1-name,
#p2-name {
    text-align: center;
    font-size: 2rem;
    width: 100%;
    border-bottom: 2px solid black;
}

#p1-score,
#p2-score {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    font-size: 4rem;
}

#player1 > input,
#player2 > input {
    width: 100%;
}

#player1 > button,
#player2 > button {
    border: none;
    border-radius: 5px;
    padding: 0.5em 1em;
    margin: 1em;

    background-color: var(--white);
    transition: .1s ease-in-out;
}

#player1 > button:hover,
#player2 > button:hover {
    cursor: pointer;
    filter: brightness(90%);
}   

#controls {
    display: flex;
    justify-content: center;
}

#restart {
    margin-top: 4em;
    padding: 0.5em 1em;
    border: none;
    border-radius: 50px;
    font-size: 1.5rem;
    background-color: var(--yellow);

    transition: .2s ease-in-out;
}

#restart:hover {
    cursor: pointer;
    transform: scale(0.95);
}