@charset "UTF-8";

/* CSS Reset */

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, svg, video, canvas {
    display: block;
    max-width: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

input, button, textarea, select {
  font: inherit;
}

/* ----------------------------------- */

body {
    background: #011627;
}

main {
    width: 100dvw;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#game-board {
    padding: 1em;
    width: max(100px, 600px);
    height: max(300px, 600px);
    display: grid;
    grid-template-columns: 1fr 22px 1fr 22px 1fr;
    grid-template-rows: 1fr 22px 1fr 22px 1fr;
}

.place {
    border: none;
    width: 80%;
    height: 80%;
    align-self: center;
    justify-self: center;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.gap {
    border-radius: 25px;
    background-color: #fdfffc;
}

.gap#one {
    grid-column: 2 / 3;
    grid-row: 1 / -1;
}

.gap#two {
    grid-column: 4 / 5;
    grid-row: 1 / -1;
}

.gap#three {
    grid-row: 2 / 3;
    grid-column: 1 / -1;
}

.gap#four {
    grid-row: 4 / 5;
    grid-column: 1 / -1;
}